<!DOCTYPE html>
<html>
 <head>
	<title>Pyluck</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="http://files.softicons.com/download/toolbar-icons/16x16-free-application-icons-by-aha-soft/ico/Dollar.ico">
	<link href="static/bootstrap.css" rel="stylesheet" media="screen">
	<script type="text/javascript" src="static/socket.io.js"></script>
	<script src="static/jquery.js"></script>
 </head>

 <body>
    <div class="container">

     <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="/games">Games <span class="sr-only">(current)</span></a></li>
        <li class="active">          	 {% if current_user.is_authenticated %}
		         <p>&nbsp Angemeldet als: {{ current_user.username }}&nbsp</p></li>
		<li class="active"><p><a href="{{ url_for('.logout') }}">Logout</a></p>
		            {% else %}
		         <p><a href="{{ url_for('.login') }}">Login</a></p>
		         <p><a href="{{ url_for('.register') }}">Registrierung</a></p>
	                {% endif %}</li>
      </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>






	<div class="content">
		<!-- Inhalt der HTML-Dateien _ extendet durch base.html  -->
	 {% block content %}	{% endblock %}

</div>
		<!-- 2. Container chat + Login -->
		<div class="chat_out">



	 <script type="text/javascript">
		$(document).ready(function() {

		var socket = io.connect('http://127.0.0.1:5000');

		socket.on('message', function(msg) {
			$("#messages").append('<li>'+msg+'</li>');
		});
		$('#sendbutton').on('click', function() {
			socket.send($('#myMessage').val());
			$('#myMessage').val('');
		});

	 });
	 </script>
			<!-- Zeige alle eingeloggten Benutzer an -->
			<p>Aktive User: {% for active in user %}
    		{% if active.logged_in == 1 %}
        	{{ active.username }}
    		{% endif %}
{% endfor %}</p>

            <div class="chat_in">
            <ul id="messages" style="list-style:none;">
		        {% for msg in messages %}
		 	    <li>{% for id in user %}{% if msg.user_id == id.id %}{{ id.username }} {% endif %}{% endfor %}
					[{{ msg.timestamp }}]: {{ msg.message }}</li>
		        {% endfor %}
	        </ul>
            </div>
        	{% if current_user.is_authenticated %}
	 <input type="text" id="myMessage">
	 <button id="sendbutton">Send</button>
 	{% endif %}




             </div>


	 {% if error %}
	   <p class="error"><strong>Error:</strong> {{ error }}</p>
	 {% endif %}
         
         {% for message in get_flashed_messages() %}
	      <div class="alert alert-danger alert-dismissible" role="alert">
	 {{ message }}
         {% endfor %}

     	</div>
    </div>
 </body>
</html>
