{% extends "base.html" %}
{% block content %}
     <h1>Finde den Spion!</h1>
          <SCRIPT LANGUAGE="JavaScript">
     xloc = new Array(4);
     yloc = new Array(4);
     xloc[0] = "x1"
     xloc[1] = "x2"
     xloc[2] = "x3"
     xloc[3] = "x4"
     yloc[0] = "y1"
     yloc[1] = "y2"
     yloc[2] = "y3"
     yloc[3] = "y4"

     spyloc = xloc[Math.floor(Math.random() * 3) + 1] + yloc[Math.floor(Math.random() * 3) + 1]
     console.log("Spion ist bei: " + spyloc);
     function search(loc, node) {
     node.disabled = true;
     if (loc==spyloc) {
          $.get('/cash_dazu',function(data, status){
                    if (data == 'verpiss dich'){
                         alert('Du bist Pleite, kauf dir mehr Einhornmünzen oder verpiss dich!');
                         location.reload(true);
                    }
               else{
                    alert("Du hast den Spion gefunden und 5000 Einhornmünzen gewonnen !!!");
                    location.reload(true);
               }
               });
               }
               else {
               $.get('/cash_weg',function(data, status){
                    if (data == 'verpiss dich'){
                         alert('Du bist Pleite, kauf dir mehr Einhornmünzen!');
                         location.reload(true);
                    }
               else{
               alert("Der Spion ist nicht hier -250 Einhornmünzen");
               }
          });
        }
     }
     </script>

     <CENTER>
     <FORM method="POST" name="searchb">
     <input type=checkbox onClick="javascript:search('x1y1', this);">
     <input type=checkbox onClick="javascript:search('x1y2', this);">
     <input type=checkbox onClick="javascript:search('x1y3', this);">
     <input type=checkbox onClick="javascript:search('x1y4', this);"><br>
     <input type=checkbox onClick="javascript:search('x2y1', this);">
     <input type=checkbox onClick="javascript:search('x2y2', this);">
     <input type=checkbox onClick="javascript:search('x2y3', this);">
     <input type=checkbox onClick="javascript:search('x2y4', this);"><br>
     <input type=checkbox onClick="javascript:search('x3y1', this);">
     <input type=checkbox onClick="javascript:search('x3y2', this);">
     <input type=checkbox onClick="javascript:search('x3y3', this);">
     <input type=checkbox onClick="javascript:search('x3y4', this);"><br>
     <input type=checkbox onClick="javascript:search('x4y1', this);">
     <input type=checkbox onClick="javascript:search('x4y2', this);">
     <input type=checkbox onClick="javascript:search('x4y3', this);">
     <input type=checkbox onClick="javascript:search('x4y4', this);">
     </FORM>
     </CENTER>
     {% endblock %}
