{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <h2>Login</h2>
    <form method="POST" action="/login">
        <p>{{ LoginForm.username(class_="form-control", placeholder=LoginForm.username.label.text) }}</p>
        <p>{{ LoginForm.password(class_="form-control", placeholder=LoginForm.password.label.text) }}</p>
        {{ LoginForm.csrf_token }}
        <p><input id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit" value="Login" /></p>
    </form>
</div>
{% endblock %}
